html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

svg {
  margin-left: auto;
  width: 20px;
  opacity: 0.7;
}

.icons {
  width: 200px;
  display: flex;

  .flipMe {
    position: relative;
    width: 200px;
    height: 200px;
  }
}

.contain {
  max-width: 800px;
  padding: 0 4rem;
}

.measure-20 {
  display: block;
  width: 20px;
  height: 20px;
  background: white;
}
.measure-40 {
  display: block;
  width: 40px;
  height: 20px;
  background: white;
  margin-top: 8px;
}
.measure-60 {
  display: block;
  width: 60px;
  height: 20px;
  background: white;
  margin-top: 8px;
}
.measure-80 {
  display: block;
  width: 80px;
  height: 20px;
  background: white;
  margin-top: 8px;
}
.measure-100 {
  display: block;
  width: 100px;
  height: 20px;
  background: white;
  margin-top: 8px;
}
.measure-120 {
  display: block;
  width: 120px;
  height: 20px;
  background: white;
  margin-top: 8px;
}